version: '3.8'
services:
  node_0:
    build: .
    environment:
      - NODE_ID=0
    container_name: distributed-bellman-ford_node_0
  node_1:
    build: .
    environment:
      - NODE_ID=1
    container_name: distributed-bellman-ford_node_1
  node_2:
    build: .
    environment:
      - NODE_ID=2
    container_name: distributed-bellman-ford_node_2
  node_3:
    build: .
    environment:
      - NODE_ID=3
    container_name: distributed-bellman-ford_node_3
  node_4:
    build: .
    environment:
      - NODE_ID=4
    container_name: distributed-bellman-ford_node_4
  node_5:
    build: .
    environment:
      - NODE_ID=5
    container_name: distributed-bellman-ford_node_5
  node_6:
    build: .
    environment:
      - NODE_ID=6
    container_name: distributed-bellman-ford_node_6
  node_7:
    build: .
    environment:
      - NODE_ID=7
    container_name: distributed-bellman-ford_node_7
  node_8:
    build: .
    environment:
      - NODE_ID=8
    container_name: distributed-bellman-ford_node_8
  node_9:
    build: .
    environment:
      - NODE_ID=9
    container_name: distributed-bellman-ford_node_9
